<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3 class="text-center">app.component</h3>
  <div class="d-flex justify-content-evenly">
      <div id="user-container">
          <app-user-container class="d-flex justify-content-evenly"></app-user-container>
          <div class="d-flex justify-content-evenly">
            <app-user-list id="user-list"></app-user-list>
            <app-user-detail id="user-detail"></app-user-detail>
          </div>
      </div>
      <div id="order-container">
        <app-order-container class="d-flex flex-column justify-content-evenly"></app-order-container>
        <div id="order-list">
          <app-order-list></app-order-list>
        </div>
      </div>
  </div>
</body>
</html>
