h1 {
  width: 100%;
}
#user-container {
  width: 50%;
  height: 100%;
  margin: 0.5rem;
  background-color: #DAE9FC;
  border: 1px solid #7eb1f4;
}
#order-container {
  width: 50%;
  margin:0.5rem;
  text-align: center;
  background-color: #F8CECC;
  border: 1px solid #f79995;
}





